<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.softhouse.mobile.android.mvdproject.mvd.scan.decodemodule">

    <application android:allowBackup="true" android:label="@string/app_name">
        <service android:name=".MVDDecode"/>
    </application>

</manifest>
