<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.softhouse.mobile.android.mvdproject.publishmqttapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<service android:name=".datareceiver.DataReceiver"/>-->
        <service android:name=".PublishAppController" />
    </application>

</manifest>
